.img-container{      
    margin:10px;      
    border: 5px solid #00ffff; 
    box-shadow:rgb(0, 0, 0) 3px 3px 9px 3px;     
    min-height: 600px;      
    min-width: 800px;      
    background-position: center;      
    background-repeat: no-repeat;      
    align-content: center;      
}  