.img{      
margin:10px 10px;      
border: 5px solid #00ff00;      
box-shadow:rgb(0, 0, 0) 3px 3px 9px 3px;      
cursor: pointer      
    }       
.modal-content {      
  width: 1000px !important;      
}      
ul { padding: 50px; width:1200px; margin:20px auto;margin-left: 80px}      
li { display:inline;}  